.dag-intro {
  width: 95%;
  height: auto;
  border-radius: 15px;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  background-color: white;
}
.dag-intro h2 {
  color: #3b4252;
}

.dag-intro h1 {
  color: #2e3440;
}
