.DagForm {
  width: 75%;
  height: auto;
  justify-content: center;
  text-align: center;
  display: block;
  flex-direction: column;
  margin: 0.1rem auto;
  padding: 1.35rem 0.35rem;
}

.h2 {
  color: #3b4252;
}

.inputDiv {
  padding: 0.5rem;
}

.inputBut {
  padding: 0.5rem 0.5rem;
}

.DelBut:hover,
.DelBut:active {
  background: #bf616a;
  border-color: #bf616a;
}

.AddBut:hover,
.AddBut:active {
  background: #8fbcbb;
  border-color: #8fbcbb;
}
