.DagGraph {
  width: 75%;
  height: auto;
  justify-content: center;
  text-align: center;
  display: block;
  flex-direction: column;
  margin: 1rem auto;
  padding: 0.35rem 0.35rem;
}

.h2 {
  color: #3b4252;
}
