.DagList {
  width: 95%;
  height: auto;
  border-radius: 15px;
  justify-content: center;
  text-align: center;
  display: block;
  flex-direction: column;
  margin: 0.1rem auto;
  background-color: white;
  padding: 0.35rem 0.35rem;
}

.h2 {
  color: #3b4252;
}

.ul {
  list-style: none;
  padding: 1rem;
  justify-content: center;
}

.li {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 15px;
}
.li:hover {
  border: 1px solid #ccc;
}
